version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-template
    restart: unless-stopped
    ports:
      - "127.0.0.1:${APP_PORT:-3366}:3000"