@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@theme {
  --font-nunito: var(--font-nunito-var);
  --font-inter: var(--font-inter-var);
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: black;
    font-family: var(--font-inter);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
